h4 {
    margin: 10vh 10vw;
}


.menu {
    display: flex;
    justify-content: space-evenly;
}

img {
    width: -4em;
    margin: 10 vh 100 vw;
    width: 40%;
}


p {
    margin: 20 vh 200 vw;
    padding: 0 20xp;
}


.social-site {
    width: 40px;
    margin: 10 vh 100 vw;
}