h4 {
    margin: 2vh 0vw;
    font-size: 1.2em;
}


.menu {
    display: flex;
    justify-content: space-evenly;
}

img {
    width: -4em;
    margin: 10 vh 100 vw;
    width: 40%;
}


.odsazeni {
    margin: 10 vh 10 vw;
    padding: 0 20px;
    text-align: center;
}


.social-site {
    width: 40px;
    margin: 10 vh 100 vw;
}

body {
    color: black;
    font-family: Tahoma;
}

h4 {
    text-align: center;
}

.text {
    text-align: center;
}

.deti {
    text-align: center;
}