h4 {
    margin: 1vh 1vw;
    font-size: 1.2em;
    text-align: left;
}

h2 {
    margin: 2vh 0vw;
    padding: 0 20px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

.banner {
    background-image: url(../img/plasticky.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    text-align: center;
}

img {
    width: -4em;
    margin: 10 vh 100 vw;
    width: 40%;
}


.odsazeni {
    margin: 10 vh 10 vw;
    padding: 0 20px;
    text-align: center;
}


.social-site {
    width: 40px;
    margin: 10 vh 100 vw;

}

body {
    color: black;
    font-family: Tahoma;

    background-color: #cde3d6;

}

.text {
    text-align: justify;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

h1 {
    text-align: center;
}

button {
    background-color: rgb(11, 52, 84);
    border: rgb(205, 227, 214);
    color: rgb(205, 227, 214);
    width: 25%;
    height: 15%;
    float: left;
    margin-bottom: 1em;
    transition-duration: 0.4s;
    font-size: large;
    padding: 10px;
}

button:hover {
    background-color: rgb(171, 200, 209);
    color: rgb(11, 52, 84);
}

.galerie {
    display: flex;
    justify-content: center;
}

.galerie-content {
    width: 80%;
}

.galerie-button {
    background-color: rgb(11, 52, 84);
    color: rgb(205, 227, 214);
    width: 45%;
    height: 6em;
    position: center;
    border-color: rgb(205, 227, 214);
    border: 5px solid screen;
    margin: 0.5vh 0.5vw;
}

p {
    width: 90%;
    background-color: rgb(205, 227, 214);
}

.ano {
    color: green;
    font-weight: bold;
}

.ne {
    color: red;
    font-weight: bold;
}

.odstavec {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0 40px;
}


.cesi {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    width: 60%;
    margin-top: 4px;
}

h1 {
    padding-top: 2.5em;

}

.nadpisjak {
    padding: 0 10px;
}

.kontakt {
    margin-bottom: 2px;
}

.jakuvod {
    text-align: justify;
    padding: 0 10px;
}

.procuvod {
    padding: 0 20px;
}

.onas {
    margin-top: 30px;
}

.social-kontakt {
    text-align: left;

}

.vedlesebe {
    display: flex;
    flex-direction: row;
}

.deti {
    padding: 100px;
}

div.img {
    width: 500%;
}